.audio_player {
  border-top: 0.1px solid #b3b3b319;
  color: #feffff;
  background-color: #181818;
  display: flex;
  min-height: 10%;
  justify-content: space-between;
  align-items: center;
}
.audio_player__interface {
  align-items: center;
  width: 35%;
  display: flex;
  flex-direction: column;
}
.song {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 5px;
}
.song__icon {
  width: 70px;
}
.song__info {
  margin-left: 10px;
}
.song__title {
  color: #feffff;
  font-size: 0.875rem;
}
.song__author {
  color: #b3b3b3;
  font-size: 0.6875rem;
}
.song__add2collection {
  background: none;
  border: 0px;
  margin-left: 15px;
}
.song__add2collection svg {
  fill: #b3b3b3;
}
.action {
  display: flex;
  width: 100%;
  max-width: 200px;
  justify-content: space-around;
  margin-bottom: 5px;
}
.action__back,
.action__forward,
.action__order,
.action__turn {
  background: none;
  border: none;
}
.action__back svg,
.action__forward svg,
.action__order svg,
.action__turn svg {
  fill: #b3b3b3;
  transform: scale(0.8);
}
.action__play {
  background-color: #feffff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background-size: 120%;
}
.action__play svg {
  margin: auto;
  margin-top: 3px;
  transform: scale(0.8);
}
.action__progress {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.action__progress input[type="range"] {
  width: 100%;
  background-color: #b3b3b3;
  height: 2px;
  color: red;
}
.action__progress span {
  margin: 0px 5px;
  color: #b3b3b3;
  font-size: 0.6875rem;
}
.options {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.options__volumeicon {
  background: none;
  border: 0px;
}
.options svg {
  fill: #b3b3b3;
  margin-right: 8px;
  margin-top: 5px;
}
.options__volume {
  width: 100%;
  background-color: #b3b3b3;
  height: 2px;
  color: red;
}
.song_progress {
  height: 5px;
  border-top: 3px solid #feffff;
}
