.menu {
  width: 270px;
  background-color: #100e0e;
  padding-top: 24px;
  padding-left: 22px;
}
.menu__actions_playlist {
  margin-top: 30px;
}
.menu__logo {
  width: 120px;
  padding-bottom: 25px;
}
.menu__logo svg {
  color: #feffff;
}
.menu__actions {
  margin-left: -5px;
  padding-bottom: 20px;
  list-style: none;
}
.menu__link {
  text-decoration: none;
  color: #b3b3b3;
}
.menu__link_active {
  color: #feffff;
}
.menu__action {
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: 900;
  font-size: 0.725rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  border: none;
  padding: 5px;
  background: none;
}
.menu__action:hover .menu__link {
  color: #feffff;
}
.menu__action:hover .menu__image {
  fill: #feffff;
}
.menu__image {
  margin-right: 15px;
  fill: #b3b3b3;
}
.menu__image_active {
  fill: #feffff;
}
.menu__action_active {
  color: #feffff;
}
.menu__actions_playlist {
  padding-bottom: 10px;
  border-bottom: 1px solid #b3b3b319;
}
.menu__image_playlist {
  fill: #100e0e;
  background: #b9b8b8;
  padding: 6px;
  width: 23px;
  height: 23px;
}
.menu__image-love-playlist {
  padding: 6px;
  width: 23px;
  height: 23px;
  color: #b3b3b3;
  background: linear-gradient(135deg, #450af5, #c4efd9);
}
