.albumcontainer {
  padding: 15px 25px;
  display: flex;
  overflow: auto;
  grid-gap: 24px;
  width: 100%;
  box-sizing: border-box;
}
.albumcontainer__title {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 25px;
}
.songcontainer {
  box-sizing: border-box;
  display: flex;
}
.album {
  transition: 0.3s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  padding: 15px;
  box-sizing: border-box;
}
.album__image_container {
  display: inline-block;
  border-radius: 10px;
  width: 100%;
  max-height: 160px;
  padding-bottom: 15px;
  height: auto;
  box-sizing: content-box;
}
.album__image {
  width: 100%;
  border-radius: 5px;
}
.album__title {
  padding-bottom: 8px;
  width: 100%;
  font-size: 0.75rem;
  font-weight: 900;
}
.album__description {
  width: 100%;
  color: #b9b8b8;
  font-size: 0.655rem;
  font-family: "Montserrat", sans-serif;
}
.albumcontainer::-webkit-scrollbar-track {
  background-color: #100e0e;
}
.albumcontainer::-webkit-scrollbar {
  width: 12px;
}
.albumcontainer::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  border-radius: 1px;
}
.album:hover {
  border-radius: 5px;
  transition: 0.3s;
  background-color: #282828;
}
.album:hover .playbtn-album {
  opacity: 0;
}
.playbtn {
  background-color: #feffff;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background-size: 120%;
}
.playbtn__image {
  margin: auto;
  margin-top: 3px;
  transform: scale(0.8);
  cursor: pointer;
}
.playbtn__image-album {
  transform: scale(1);
}
.playbtn-album {
  opacity: 0;
  background-color: #1ed760;
  width: 40px;
  height: 40px;
  box-shadow: 0px 5px 10px #05050575;
  position: relative;
  top: -50px;
  left: 105px;
}
.album:hover .playbtn-album {
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
}
.audioplayer {
  border-top: 0.1px solid #b3b3b319;
  color: #feffff;
  background-color: #181818;
  display: flex;
  min-height: 10%;
  justify-content: space-between;
  align-items: center;
}
.audioplayer__interface {
  align-items: center;
  width: 35%;
  display: flex;
  flex-direction: column;
}
.song {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 5px;
  cursor: pointer;
}
.song__icon {
  width: 70px;
  cursor: pointer;
}
.song__info {
  margin-left: 10px;
}
.song__title {
  color: #feffff;
  font-size: 0.875rem;
}
.song__author {
  color: #b3b3b3;
  font-size: 0.6875rem;
}
.song__add2collection {
  cursor: pointer;
  background: none;
  border: 0px;
  margin-left: 15px;
}
.song__imgadd2collection {
  fill: #b3b3b3;
}
.action {
  display: flex;
  width: 100%;
  max-width: 200px;
  justify-content: space-around;
  margin-bottom: 5px;
}
.action__back,
.action__forward,
.action__order,
.action__turn {
  background: none;
  border: none;
  cursor: pointer;
  fill: #b3b3b3;
}
.action__back:hover,
.action__forward:hover,
.action__order:hover,
.action__turn:hover {
  fill: #feffff;
}
.action__progress {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.action__progress-range {
  width: 100%;
  background-color: #b3b3b3;
  height: 2px;
}
.action__time {
  margin: 0px 5px;
  color: #b3b3b3;
  font-size: 0.6875rem;
}
.options {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.options__volumeicon {
  background: none;
  border: 0px;
  cursor: pointer;
}
.options__image {
  fill: #b3b3b3;
  margin-right: 8px;
  margin-top: 5px;
}
.options__volume {
  width: 100%;
  background-color: #b3b3b3;
  height: 2px;
  color: red;
}
.songprogress {
  height: 5px;
  border-top: 3px solid #feffff;
}
.menu {
  width: 270px;
  background-color: #100e0e;
  min-height: 100%;
  padding-top: 24px;
  padding-left: 22px;
}
.menu__actions-playlist {
  margin-top: 30px;
}
.menu__logo {
  width: 120px;
  padding-bottom: 25px;
}
.menu__logo svg {
  color: #feffff;
}
.menu__actions {
  margin-left: -5px;
  padding-bottom: 20px;
  list-style: none;
}
.menu__link {
  text-decoration: none;
  color: #b3b3b3;
}
.menu__link-active {
  color: #feffff;
}
.menu__action {
  margin-bottom: 5px;
  cursor: pointer;
  font-weight: 900;
  font-size: 0.725rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
  display: flex;
  align-items: center;
  border: none;
  padding: 5px;
  background: none;
}
.menu__action:hover .menu__link {
  color: #feffff;
}
.menu__action:hover .menu__image {
  fill: #feffff;
}
.menu__image {
  margin-right: 15px;
  fill: #b3b3b3;
}
.menu__image-active {
  fill: #feffff;
}
.menu__action-active {
  color: #feffff;
}
.menu__actions-playlist {
  padding-bottom: 10px;
  border-bottom: 1px solid #b3b3b319;
}
.menu__image-playlist {
  fill: #100e0e;
  background: #b9b8b8;
  padding: 6px;
  width: 23px;
  height: 23px;
}
.menu__image-loveplaylist {
  padding: 6px;
  width: 23px;
  height: 23px;
  color: #b3b3b3;
  background: linear-gradient(135deg, #450af5, #c4efd9);
}
html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  width: 100%;
  height: 90%;
  max-height: 100vh;
  background-color: #b9b8b8;
}
.content {
  width: 100%;
  color: #feffff;
  background: linear-gradient(174deg, #1e1e1e 0%, #161616 60%, #121212 100%);
  padding-top: 75px;
  overflow: auto;
}
.content::-webkit-scrollbar-track {
  background-color: #100e0e;
}
.content::-webkit-scrollbar {
  width: 12px;
  /* ширина scrollbar */
}
.content::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  border-radius: 1px;
}
