@import "./modules/colors.less";
@import "./modules/about.less";
* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    overflow: hidden;
  }
body {
   
}

.container{
    display: flex;
    width: 100%;
    min-height: 100%;
    // opacity: 0.7;
    height: 100vh;
}
.menu{
    width:300px;
    background-color: red;
    min-height: 100%;
}
.content{
    width:100%;
    color: @white;
    background-color:  @back_color;
       
    background-size: 40px 40px;
    background-image: repeating-linear-gradient(45deg, @back_color 0, @back_color 4px, @black 0, @black 50%);
}